@media (max-width: 1399.98px) {
    
    .header-benefits {
        padding: 0 30px 0 30px;
    }
    .stages-work__sup-title {
        padding: 40px 10px 10px 70px;
    }
    .stages-work__title {
        padding: 0px 10px 10px 65px;
    }
    .points-list {
        padding-left: 130px;
        margin-top: 80px;
    }
    .portfolio-slider__item-desc {
        width: 555px;
        margin-left: 110px;
    }

}


@media (max-width: 1199.98px) {

    body{
        font-size: 16px;
        line-height: 23px;
    }

    .header-benefits {
        padding: 0 20px 0 20px;
    }

    .portfolio-slider__item-desc {
        width: 475px;
        margin-left: 25px;
    }
    .portfolio-slider__items .owl-dots {
        right: 25%;
    }
    .comments__title {
        margin: 0 auto 70px;
    }
}

@media (max-width: 1024px){
    .menu__list-item + .menu__list-item {
        padding-left: 40px;
    }
    .header-benefits__item-title {
        font-size: 18px;
    }
    .about-desc {
        max-width: 420px;
        padding: 5px;
    }
    .stages-work {
        height: 440px;
        background-color: #000;
        &:before {
            top: 19%;
        }
    }
    
    .points-list {
        padding-left: 70px;
        margin-top: 60px;
    }
    .point-text {
        line-height: 18px;
    }
    .portfolio__sup-title {
        margin-top: 40px;
    }
    .portfolio-slider__img-nav {
        display: flex;
    }
    .portfolio-slider__item-desc {
        margin-left: 20px;
        padding: 0 10px;
    }
    .portfolio-slider__items .owl-nav {
        width: 534px;
    }

}


@media (max-width: 991.98px) {
    .header-menu {
        padding: 0 30px 0 30px;
        margin-bottom: 55px;
    }
    .about {
        height: auto;
        flex-direction: column;
    }
    .about-images {
        margin-bottom: 25px;
    }
    .points-list {
        padding-left: 60px;
        margin-top: 70px;
    }
    .stages-work__point::before {
        top: 17%;
    }
    .portfolio__sup-title {
        line-height: 25px;
    }
    .portfolio-slider__img-nav {
        display: inline-flex;
        right: 533px;
    }
    .portfolio-slider__items .owl-nav {
        width: 515px;
    }
}


@media (max-width: 767.98px) {
    .header-menu {
        padding: 0 10px 0 10px;
        margin-bottom: 30px;
    }
    .menu__list-item + .menu__list-item {
        padding-left: 30px;
    }
    .header-main {
        text-align: center;
    }
    .header-benefits__item {
        font-size: 16px;
        max-width: 115px;
    }
    .header-benefits__item-img {
        width: 60%;
    }   
    .portfolio__sup-title {
        padding-top: 40px;
    }
    .portfolio-slider__items .owl-nav {
        width: 100%;
        height: 64px;
    }
    .portfolio-slider__items .owl-prev,
    .portfolio-slider__items .owl-next {
        bottom: 16%;
    }
    .portfolio-slider__items .owl-dots {
        right: 40%;
        bottom: 4%;
    }
    // .portfolio-slider__img-nav {
    //     left: 0;
    // }
    .comments-inner {
        width: 70%;
        height: 100%;
    }
    .comments__sup-title {
        padding: 45px 0px 10px;
    }
    .comments__title {
        font-size: 30px;
        line-height: 46px;
        margin: 0 auto 50px;
        width: 390px;
    }
    .comments-slider__img {
        top: -10%;
        right: 40%;
        width: 100px !important;
        height: 100px;
    }
    .comments-slider__item-text {
        width: 100%;
        padding: 15px;
    }
    .comments-slider .owl-nav {
        margin-top: 70px;
    }
    .footer-top {
        height: 245px;
    }
    .footer-top__col-desc {
        width: 200px;
        }
    .footer-top__col {
        font-size: 14px;
        line-height: 22px;
    }

}


@media (max-width: 575.98px) {
    .header {
        overflow: hidden;
    }
    .header-contacts {
        justify-content: space-around;
    }
    .header-contacts__phone {
        flex-direction: column;
    }
    .header-contacts__social {
        justify-content: space-between;
        width: 75px;
        margin: 0 10px 0 10px;
    }
    .header-menu {
        margin-bottom: 20px;
        position: relative;
        justify-content: flex-end;
    }
    a.header__logo {
        padding-right: 30px;
    }
    .menu__list {
        flex-direction: column;
    }
    .menu__list-item + .menu__list-item {
        padding-left: 0px;
    }

    // burger
    .menu-burger__header {
        position: absolute;
        top: 15px;
        left: 25px;
        width: 40px;
        height: 35px;
        display: block;
        margin-left: 5px;
    }
    .menu-burger__header span,
    .menu-burger__header:after,.menu-burger__header:before{
        height: 3px;
        width: 100%;
        position: absolute;
        background: $mainColor;
        margin: 0 auto;
    }
    .menu-burger__header span{
        top: 21px;
    }
    .menu-burger__header:after,
    .menu-burger__header:before{
        content: '';
    }
    .menu-burger__header:after{
        bottom: 4px;
    }
    .menu-burger__header:before {
        top: 11px;
    }
    .menu {
        position: absolute;
        top: 0;
        background: $mainColor;
        width: 80%;
        left: 100%;
        // overflow: hidden;
        transform: translateX(-15%);
        transition: all 0.4s ease;
    }
    .menu.open-menu {
        left: -40%;
    }

    .menu-burger__header.open-menu span {
        opacity:0; 
        transition: 0.5s; 
    }
    .menu-burger__header.open-menu:before {
        transform: rotate(38deg);
        top: 16px;
        transition: 0.4s;
    }
    .menu-burger__header.open-menu:after {
        transform: rotate(-38deg);
        bottom: 16px;
        transition: 0.4s;
    }
    .menu__list {
        display: flex;
        text-align: center;
        align-items: center;
    }
    .menu__list li {
        margin: 0;
        width: 100%;
        padding: 10px;
        font-size: 14px;
        border-bottom: 1px solid #fff;
        &:last-child{
            border-bottom: none;
        }
    }
    .header-main {
        text-align: center;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-main__title {
        font-size: 30px;
        line-height: 38px;
        margin: 0 auto;
        width: 75%;
    }
    .header-main__desc {
        width: 85%;
        margin: 0 auto;
        padding: 25px 5px;
    }
    .header-bottom {
        display: none;
    }
    .about-images {
        display: none;
    }
    .about-desc {
        max-width: 425px;
        padding: 25px 5px;
    }
    .stages-work {
        height: auto;
    }
    .stages-work__sup-title {
        padding: 30px 10px 10px 70px;
    }
    .stages-work__title {
        font-size: 30px;
        line-height: 36px;
        padding: 0px 10px 10px 65px;
    }
    .point-main {
        margin-bottom: 0px;
    }
    .points-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    .stages-work__point {
        width: 100%;
        margin-bottom: 15px;
    }
    .stages-work__point::before {
        width: 0;
        height: 0;
    }
    .point-text {
        font-size: 16px;
        border-bottom: 1px solid #fff;
        width: 75%;
    }
    .portfolio-slider{
        &__item {
            flex-direction: column;
        }
        &__item-desc {
            display: none;
        }
        &__item-images {
            padding-bottom: 64px;
        }
        .owl-nav button {
            display: none;
        }
        &__items .owl-dots {
            bottom: 4%;
        }
        &__img-nav {
            right: 0;
            display: block;
        }
    }

    .owl-carousel .owl-item img {
        display: block;
        max-width: 80%;
    }
    .comments-inner {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: none;
    }
    .feedback-inner {
        width: 100%;
        margin: 0 auto;
        padding: 0 25px;
    }
    .footer-top {
        height: 145px;
    }
    .footer-top__col.footer-top__col-desc {
        display: none;
    }

}

@media (max-width: 425px)  {
    .header-main__title {
        font-size: 25px;
        line-height: 36px;
        margin: 0 auto;
        width: 100%;
    }
    .about {
        padding: 5px 15px;
    }
    .portfolio__sup-title {
        padding-top: 0;
    }
    .portfolio__sup-title {
        margin-top: 20px;
    }
    .portfolio__title {
        margin-bottom: 20px;
    }
    .owl-item{
        .portfolio-slider__img-nav img {
            margin: 0;
            max-width: 95%;
        }
        .portfolio-slider__item-images img {
            max-width: 75%;
        }
    }
    .comments {
        &__sup-title {
            padding: 35px 0px 10px;
        }
        &__title {
            line-height: 40px;
            margin: 0 auto 30px;
            width: 100%;
        }
    }
    .comments-slider{
        .owl-nav button{
            display: none;
        }
    }
}

@media (max-width: 375px) {
    a.header__logo {
        padding: 0;
        margin-right: 75px;
    }
    .menu-btn--button{
        display: none;
    }
    .menu-btn--ico{
        display: block;
        border-radius: 50%;
        padding: 8px 10px 4px 10px;
        .fa-phone{
            color: $mainColor;
            width: 30px;
            transition: all .3s;
        }
        &:hover .fa-phone{
             color: #fff;
             transition: all .3s;
        }
    }
    .portfolio-slider__img-nav {
        right: -12px;
    }
    .owl-item .portfolio-slider__img-nav img {
        max-width: 85%;
    }
    
    .feedback-forma {
        flex-direction: column;
    }
    .input-elem {
        width: 100%;
    }
    .feedback-forma__btn {
        margin-top: 25px;
    }
    .footer-top__address {
        margin: 0 0 5px;
    }
    .footer-bottom {
        padding: 16px 0 16px 10px;
    }
}

@media (max-width: 375px) {
    .header-main {
        margin-top: 0px;
        &__title {
            font-size: 23px;
            line-height: 28px;
        }
        &__desc {
            width: 100%;
            padding: 45px 5px;
        }
    }
    .stages-work__sup-title {
        padding: 25px 10px 15px;
        text-align: center;
    }
    .stages-work__title {
        line-height: 32px;
        text-align: center;
        padding: 0px 10px;
    }
    .points-list {
        padding-left: 0;
        padding-bottom: 25px;
    }
    .point-text {
        width: 100%;
    }
    .portfolio-slider__img-nav {
        display: none;
    }
    .owl-item .portfolio-slider__item-images img {
        max-width: 100%;
    }
    .portfolio-slider__items .owl-dots {
        right: 35%;
    }
    .comments {
        height: 100%;
        &__title {
            line-height: 35px;
            margin: 0;
            font-size: 28px;
        }
    }
    .owl-carousel .owl-item img {
        display: none;
    }
    .comments-slider .owl-nav {
        margin-top: 0;
    }

    .comments-slider .owl-dots {
        padding: 25px;
    }
    .feedback {
        height: 100%;
        &__title {
            padding: 15px 0 0;
        }
    }
    .feedback-forma {
        padding-bottom: 25px;
    }

}