%gilroy-light{
    font-family: 'Gilroy-Light';
    font-weight: 300;
}

%gilroy-regular{
    font-family: 'Gilroy-Regular';
    font-weight: 400;
}

%gilroy-medium{
    font-family: 'Gilroy-Medium';
    font-weight: 500;
}

%gilroy-semibold{
    font-family: 'Gilroy-Semibold';
    font-weight: 600;
}

%playfair-bold {
    font-family: 'PlayfairDisplay-Bold';
    font-weight: 600;
}

%playfair-regular {
    font-family: 'PlayfairDisplay-Regular';
    font-weight: 400;
}

%playfair-bold {
    font-family: 'PlayfairDisplay-Bold';
    font-weight: 700;
}

$mainColor: #FF9900;